@import "../../css/mixins.scss";

.modal {
  display: grid;

  grid-template-columns: 1fr 1fr;

  width: clamp(50%, 700px, 90%);
  padding: var(--pad-4);
  gap: var(--pad-4);
  background: var(--black);

  box-shadow: 0 0 20px rgba(var(--gold-light-rgb), 0.5);
  height: fit-content;
  .left {
    flex: 1;
  }
  .right {
    @include flexColumn(center, space-between);

    position: relative;
    gap: var(--pad-4);
    height: 100%;
    flex: 1;
    .text {
      @include flexColumn(flex-start, flex-start);

      width: 100%;
      p {
        overflow-y: auto;
        display: -webkit-box;
        -webkit-line-clamp: 8;
        -webkit-box-orient: vertical;
      }
      gap: var(--pad-3);
      flex: 1;
    }
    .ctas {
      @include flexColumn(flex-start);
      gap: var(--pad-3);
      .buttons {
        @include flex;
        gap: var(--pad-3);
      }
    }
    .close {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
