.about {
  margin: 32px;
  max-width: 1000px;
  min-width: 200px;
}

.about_title {
  font-size: 40px !important;
  border-bottom: 2px solid rgb(229, 181, 82);
  background-color: rgb(27, 27, 30);
}

.about_text {
  padding: 32px !important;
  color: rgb(55, 41, 40) !important;
  font-weight: 600 !important;
  font-size: 24px !important;
}
