.container {
  margin: 32px;
  max-width: 1000px;
  min-width: 200px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 16px;
}

.page_title {
  margin: 16px;
  font-size: 48px;
  font-weight: 400;
  align-self: center;
  font-family: "Josefin Sans", sans-serif;
  color: rgb(229, 181, 82);
}

.pageDescription {
  margin: 0px 32px 0px 32px;
  font-size: 20px;
  font-weight: 400;
  align-self: center;
  font-family: "Josefin Sans", sans-serif;
  color: rgb(170, 170, 179);
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 32px;
  width: fit-content;
  overflow: hidden;
}
