body {
  margin: 0;
  background-color: rgb(32, 24, 22);
  overflow-x: hidden;
}

.center_flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.space_between {
  justify-content: space-between !important;
}

.flex_columb {
  flex-direction: column;
}

.pad_8 {
  padding: 8px;
}

.pad_16 {
  padding: 16px;
}

.mar_16 {
  margin: 16px;
}

.text {
  font-family: "Josefin Sans", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 200;
  color: #d6a26f;
  text-align: center;
}

.red_text {
  color: #a23337 !important;
}

.gold_text {
  color: #a23337 !important;
}

.white_text {
  color: #f5eae0 !important;
}

.red_back {
  background-color: #a23337;
}

.black_back {
  background-color: rgb(17, 13, 12);
}

.brown_back {
  background-color: rgb(55, 41, 40);
}

.w_max {
  width: 100%;
}

.border {
  border: 4px solid #d6a26f;
}

.border_hori {
  border-top: 4px solid #d6a26f;
  border-bottom: 4px solid #d6a26f;
}
