body {
  margin: 0;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  background: rgb(27, 27, 30) url("../assets/illu/Texture.svg") repeat center
    center fixed;
  background-size: cover;
}

html {
  height: 100%;
  overflow-y: hidden;
}
#root {
  height: 100%;
}

.whole_page {
  overflow-x: hidden;
}

.background_image {
  position: absolute;
  height: 100%;
  width: 100%;
  background: transparent url("../assets/illu/Texture.svg") repeat center center
    fixed;
  background-size: cover;
  z-index: -1;
}
.center_flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.space_between {
  justify-content: space-between !important;
}

.flex_columb {
  flex-direction: column;
}

.pad_8 {
  padding: 8px;
}

.pad_16 {
  padding: 16px;
}

.mar_16 {
  margin: 16px;
}

.text {
  text-decoration: none !important;
  font-family: "Josefin Sans", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 200;
  color: rgb(229, 181, 82);
  text-align: center;
}

.red_text {
  color: rgb(170, 170, 179) !important;
}

.gold_text {
  color: rgb(229, 181, 82) !important;
}

.white_text {
  color: #f5eae0 !important;
}

.black_text {
  color: rgb(27, 27, 30) !important;
}

.white_back {
  background-color: #f5eae0 !important;
}

.red_back {
  background-color: rgb(170, 170, 179);
}

.black_back {
  background-color: rgb(46, 46, 51);
}

.brown_back {
  background-color: rgb(27, 27, 30);
}

.gold_back {
  background-color: rgb(229, 181, 82);
}

.w_max {
  width: 100%;
}

.border {
  border: 2px solid rgb(229, 181, 82);
}

.border_black {
  border: 2px solid rgb(27, 27, 30);
}

.border_silver {
  border: 2px solid rgb(170, 170, 179);
}

.border_hori {
  border-top: 2px solid rgb(229, 181, 82);
  border-bottom: 2px solid rgb(229, 181, 82);
}
