.product_box {
  margin-bottom: 32px !important;
  height: 600px !important;
  width: 100%;
}

.imageWrap_left {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 100%;
  min-width: 100%;
  width: 100%;

  border-top: 2px solid rgb(229, 181, 82);
  border-bottom: 2px solid rgb(229, 181, 82);
}

.imageWrap_right {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;

  height: 100%;
  min-width: 100%;
  width: 100%;

  border-top: 2px solid rgb(170, 170, 179);
  border-bottom: 2px solid rgb(170, 170, 179);
}

.left_side {
  top: 0;
  display: flex;
  justify-content: start;
  flex-direction: row;
  position: absolute;
  height: 100%;
  width: 50%;
  max-width: 500px;
  min-width: 280px;
}

.right_side {
  display: flex;
  justify-content: start;
  flex-direction: row;
  position: absolute;
  height: 100%;
  width: 50%;
  max-width: 500px;
  min-width: 280px;
}

.left_trapeeze {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(27, 27, 30);
}

.right_trapeeze {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(27, 27, 30);
}

.text_holder {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: auto;
  margin: 64px 5% 0px 5%;
}

.Title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.Title > img {
  padding: 16px 0px !important;
}

.description_text {
  position: relative;
  text-align: left !important;
  display: flex;
  font-size: 18px !important;
  font-weight: 700 !important;
  width: 100%;
  color: #f5eae0 !important;
}

.strip {
  height: 100%;
  width: 30px !important;
  min-width: 30px;
  z-index: 2;
}

.strip_left {
  margin-right: 16px;
  background-image: repeating-linear-gradient(
    90deg,
    rgb(229, 181, 82) 0px,
    rgb(229, 181, 82) 6px,
    rgb(27, 27, 30) 6px,
    rgb(27, 27, 30) 12px
  );
}

.strip_right {
  margin-left: 16px;
  background-image: repeating-linear-gradient(
    90deg,
    rgb(170, 170, 179) 0px,
    rgb(170, 170, 179) 6px,
    rgb(27, 27, 30) 6px,
    rgb(27, 27, 30) 12px
  );
}
