.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 32px;
  width: fit-content;
}

.ProductGrid {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  margin: auto;
  width: 100%;
}

.Item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: auto;
  height: auto;
  margin: 32px;
  /* box-shadow: 3px 3px 5px 5px rgb(3, 3, 3); */
}

.image_wrapper {
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 320px;
  height: 320px;
  transition: 0.1s;
}

.image_wrapper:hover {
  width: 360px;
  height: 360px;
  transition: 0.2s;
  /* cursor: pointer; */
}

.product_image {
  width: 100%;
  height: 100%;
  object-fit: cover;

  filter: brightness(0.5);
  transition: 0.1s;
}

.image_wrapper:hover > .product_image {
  filter: brightness(1);
  transition: 0.1s;
}

.image_wrapper:hover > .toTop {
  margin-top: 0px;
  background-color: #0a0a0a9d;
  color: rgb(229, 181, 82) !important;
  width: 344px;
  transition: 0.2s;
}

.image_wrapper:hover > .learn {
  filter: opacity(1);
  transition: 0.2s;
}

.name {
  position: absolute;
  margin-top: 168px;
  padding: 8px;
  width: inherit;
  font-weight: bold;
  transition: 0.2s;
  text-align: center;
}

.learn {
  text-decoration: none;
  width: auto !important;
  border-radius: 2px !important;
  padding: 8px 32px !important;
  margin-top: 280px !important;
  filter: opacity(0);
}

.item_buttons {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  width: 90%;
}
.item_button {
  display: flex;
  justify-content: center;
  align-items: center !important;
  /* background-color: #a23337; */
  width: 100%;
  margin: 8px;
  border-radius: 2px;
}

.price {
  padding: 6px 12px;
  font-weight: bold !important;
}

.add2cart {
  width: 32px;
}

.page_title {
  margin: 16px 32px 8px 32px;
  font-size: 48px;
  font-weight: 400;
  align-self: center;
  font-family: "Josefin Sans", sans-serif;
  color: rgb(229, 181, 82);
}

.pageDescription {
  margin: 0px 32px 16px 32px;
  font-size: 20px;
  font-weight: 400;
  align-self: center;
  font-family: "Josefin Sans", sans-serif;
  color: rgb(229, 181, 82);
}
