body::-webkit-scrollbar {
  width: 16px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(46, 46, 51);
  border: 2px solid rgb(229, 181, 82);
}

body::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.4);
}
